{% load static %}
<body>
    <header class="header">
      <div class="container flex">
        <div class="header-logo">
          <a href="{% url 'recipes:index' %}"><h1>Simple Recipes</h1></a>
        </div>
        <div class="header-search">
          <form action="" class="flex">
            <input type="search" placeholder="Enter your search..." />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>        
        <div class="header-user">
          <span>Olá, Fulana!</span>
          <img src="{% static 'recipes/images/carla.png' %}" alt="Carla" />
        </div>
      </div>
    </header>