{% extends 'global/base_detail.html' %}
{% block recipe_detail %} 
<div class="card-thumb view">
  <img src="{{ recipe.cover_url }}" alt="{{ recipe.title }}" />
</div>
<div class="card-content">
  <h4 class="title">{{ recipe.title }}</h4>
  <div class="details view flex">
    <div class="user">
      <i class="fa-solid fa-user"></i>               
          {% if recipe.author.first_name %}
            {{ recipe.author.first_name }} {{ recipe.author.last_name }}
          {% else %}
            {{ recipe.author.username }}
          {% endif %}
    </div>
    <div class="date"><i class="fa-solid fa-calendar-days"></i> {{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|date:"H:i" }}</div>
    <div class="category"><i class="fa-solid fa-layer-group"></i> {{ recipe.category.name }}</div>
  </div>
  <div class="description">
    <p class="text">{{ recipe.description }}</p>
  </div>      
  <div class="info view flex">
    <div class="time">
      <p class="info-title"><i class="fa-solid fa-stopwatch"></i> Prep Time</p>
      <p class="info-content">{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</p>
    </div>
    <div class="servings view">
      <p class="info-title"><i class="fa-solid fa-cheese"></i> Servings</p>
      <p class="info-content">{{ recipe.servings }} {{ recipe.servings_unit }}</p>
    </div>
  </div>
  <div class="preparation">
    <div class="preparation-title"><p>Preparation:</p></div>
    <p>{{ recipe.preparation_steps|linebreaksbr }}</p>
  </div>
</div>
{% endblock recipe_detail %}

