{% extends 'global/base_detail.html' %}
{% load static %}


{% block recipe_detail %} 
  <div class="card-thumb">
    <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
  </div>
  <div class="card-content">
    <h4>{% block title %}Titulo da receita{% endblock title %}</h4>
    <div class="details flex">
      <div class="user">Joao</div>
      <div class="date">30/10/2024</div>
      <div class="category">Café da manhã</div>
    </div>
    <div class="resume">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
    </div>
    <div class="info flex">
      <div class="time">
        <p class="info-title">Preparo</p>
        <p>10 minutos</p>
      </div>
      <div class="servings">
        <p class="info-title">Porções</p>
        <p>10 Porções</p>
      </div>
    </div>
  </div>
</div>
{% endblock recipe_detail %}

