{% include 'recipes/partial/head.html' %}
{% include 'recipes/partial/header.html' %} 
{% load static %}

<section class="categories">
    <div class="container">
      <div class="cat-header">
        <h2>Categorias</h2>
      </div>
      <div class="cats-group flex">
        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>

        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>

        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>

        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>

        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>

        <div class="cat">
          <img src="{% static 'recipes/images/cat.png' %}" alt="Categoria" />
          <h3 class="cat-title">Pizza</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="recipes">
    <div class="container flex">
      <a href="/recipes/3/">
      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>      
      </div>
    </a>

      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-thumb">
          <img src="{% static 'recipes/images/menu44.jpg' %}" alt="" />
        </div>
        <div class="card-content">
          <h4>Titulo da receita</h4>
          <div class="details flex">
            <div class="user">Joao</div>
            <div class="date">30/10/2024</div>
            <div class="category">Café da manhã</div>
          </div>
          <div class="resume">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore ullam voluptatibus minima.</p>
          </div>
          <div class="info flex">
            <div class="time">
              <p class="info-title">Preparo</p>
              <p>10 minutos</p>
            </div>
            <div class="servings">
              <p class="info-title">Porções</p>
              <p>10 Porções</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

